.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 6% 5% 0 10%;
}

.burger-element-1 {
  background-color: #c4c4c4; /* This color doesn't mach the template example */
  width: 20px;
  height: 2px;
}

.burger-element-2 {
  background-color: #c4c4c4; /* This color doesn't mach the template example */
  width: 20px;
  height: 2px;
  margin-top: 4px;
}

.burger-element-3 {
  background-color: #c4c4c4; /* This color doesn't mach the template example */
  width: 20px;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.collaboration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
}

.collab-link {
  max-width: 500px;
  width: 90%;
  height: 50px;
  margin: 7.5% 5%;
}

.collab-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a2236;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  height: 100%;
}

.collab-button:hover {
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

.mosaic-img {
  display: block;
  max-width: 600px;
  width: 100%;
  flex: 1;
  margin-top: 2.6%;
  margin-bottom: 10px;
}

.hello {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #1a2236;
  margin: 21.5% 5% 5% 10%;
}

.hello h1 {
  font-size: 50px;
  font-family: "Playfair Display", sans-serif;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 1.25vw;
}

.hello p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.01em;
  flex-basis: 100%;
  margin-top: 5vw;
  margin-bottom: 0;
}

.works {
  display: grid;
  grid-template-areas: auto / 100%;
  width: 100%;
}

.works h2 {
  font-size: 50px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  margin: 5% 0 5% 10%;
}

.works-img {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.works-box {
  background-color: #1a2236;
  color: #fff;
  max-width: 600px;
  width: 100%;
  padding-bottom: 3.875%;
  margin: auto;
  margin-top: -2px;
}

.works-box h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 80%;
  margin: 6.25% 0 5% 6.25%;
}

.lang-container {
  display: flex;
  margin: 6.5%;
}

.lang-box {
  background-color: #98dede;
  color: #1a2236;
  font-size: 10.33px;
  font-weight: 300;
  line-height: 80%;
  font-family:  "Poppins", sans-serif;
  padding: 1.8% 3.6%;
  margin-right: 3.6%;
}

.works-button {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  width: 55.625%;
  padding: 3.125% 0;
  margin-left: 6.25%;
  border: 2px solid #fff;
}

.works-button span {
  margin-right: 6.75%;
}

.works-button:hover {
  background-color: #fff;
  color: #1a2236;
}

.works-arrow {
  width: 21px;
  height: 15px;
  background-image: url(./Media/Union.svg);
  display: block;
  align-self: center;
}

.works-button:hover .works-arrow {
  background-image: url(./Media/Union\ \(1\).svg);
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  background-image: url(./Media/image_geometry_1.svg);
  background-repeat: no-repeat;
  margin: 0;
}
